google-play-scraper
tqdm
streamlit
pandas
matplotlib
altair
plotly
wordcloud
numpy
langchain
openai
langchain_openai
langchain-community
chromadb
scikit-learn
protobuf==3.20.1
torch>=2.0.0
transformers>=4.30.0
sentence-transformers>=2.2.2